<link rel="stylesheet" href="/public/css/s_withdrawalSuccess.min.css">
<% include ../../common/nav.html %>
<div class="containt-box">
    <% include ../../common/memberLeftNav.html %>
    <div class="user-right">
        <div class="user-wrapper">
            <div class="bread_crumbs">
                <div class="title">
                    <span>账户提现</span>
                </div>
            </div>
            <p class="pl40 pt40">如果银行信息填写错误，导致提现失败，资金将自动退还到您的妙资账户！</p>
            <div class="p20">
                <div class="transaction_success mt50">
                    <div class="success1">
                        <span class="ml100 step step1 on"></span> <span class="step step_line on"></span> <span class="step step2 on"></span> <span class="step step_line"></span> <span class="step step3"></span>
                    </div>
                    <div class="success2 t-c mt15">
                        <ul>
                            <li>
                                <p class="f18">提现申请成功！</p>
                                <p class="cGray1 f14 mt10 t-l pl70">
                                    您的提现申请，已经提<br> 交银行处理！
                                </p>
                            </li>
                            <li>
                                <p class="f18">银行处理中</p>
                                <!--<p class="cGray1 f14 mt10 t-l pl70">
                                    2015-04-16 15:30<br /> 在您提现申请成功提交后，<br /> 银行正在处理中。
                                </p>-->
                            </li>
                            <li>
                                <p class="f18">到账成功</p>
                                <p class="cGray1 f14 mt10 t-l pl70">
                                    预计一个工作日。
                                </p>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="pt40"></div>
                <div class="pt50 transaction_details">
                    <hr style="border:1px dashed #e1e1e1;" class="mt30">
                </div>
                <div class="clear"></div>
            </div>
            <div class="p20">
                <div class="f14 pl30">
                    <p class="mt30 fb cGray5">温馨提示：</p>
                    <p class="pl30 pt10 cGray5">1、为了您的账户安全，请在提现前进行身份认证、手机绑定、银行卡绑定以及提现密码设置。</p>
                    <p class="pl30 pt10 cGray5">2、为保障您的账户资金安全，您选择的银行卡开户名必须与您妙资账户实名认证一致，否则提现申请将无法成功。</p>
                    <p class="pl30 pt10 cGray5">3、为了您提现能及时到账，提现时您需要完善银行卡开户行地址信息。</p>
                    <p class="pl30 pt10 cGray5">4、每日提现1笔，高等级妙资会员可享受多笔提现【查看会员详情】。</p>
                    <p class="pl30 pt10 cGray5">5、禁止充值不投资直接提现等行为，一经发现并确认，将终止该账户的使用。</p>
                    <p class="pl30 pt10 cGray5">6、目前提现到账时间一般为1～2个工作日。工作日12点前提交提现申请，我们将在T+0日内打款，工作日12点后提交提现申请，我们将在T+1日内打款，到账时间因各个银行不同，以实际银行到账为准。（如遇法定节假日顺延）</p>
                    <p class="pl30 pt10 cGray5">7、如果提现金额没有到账，请联系客服。（客服热线：400-757-8888）</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<% include ../../common/memberFooter.html %>