@import "./s_config";
.section_w{
    margin:35px auto 50px auto;
    width:1200px;
    background: #fff;
    .retrieve_pwd {
        width: 865px;
        font-size: 0;
        margin: 50px auto 0 auto;
        .retrieve1{
            span{
                display: inline-block;
                width: 50px;
                height: 50px;
                background: url(https://r.mzmoney.com/mz/img/ico_user_center.png) no-repeat;
            }
            .step_line {
                height: 2px;
                width: 105px;
                background: #c4c4c4;
                position: relative;
                top: -25px;
                margin: 0;
                padding: 0;
            }
            .step_line.on {
                background: #fc756c;
            }
            .step1.on {
                background-position: -10px -428px;
            }
            .step2 {
                background-position: -82px -358px;
            }
            .step2.on {
                background-position: -82px -428px;
            }
            .step3 {
                background-position: -160px -358px;
            }
            .step3.on{
                background-position: -160px -428px;
            }
        }
        .retrieve2{
            ul{
                @extend .clearfix;
                li{
                    float: left;
                    width: 270px;
                    text-align: center;
                    &:nth-child(1){
                        p{
                            padding-left:80px;
                        }
                    }
                    &:nth-child(2){
                        p{
                            padding-left:60px;
                        }
                    }
                    &:nth-child(3){
                        p{
                            padding-left:45px;
                        }
                    }
                }
            }
        }
    }
    .user_form{
        .form_input {
            margin-bottom: 10px;
            height:32px;
            @extend .clearfix;
            .text {
                width: 160px;
                height: 30px;
                line-height: 30px;
                display: inline-block;
                text-align: right;
                padding-right: 10px;
                float: left;
            }
            .inp {
                width: 215px;
                height: 28px;
                border-radius: 3px;
                text-indent: 10px;
                border: 1px solid #dcdcdc;
                vertical-align: top;
            }
            .inp_sms {
                width: 100px;
                margin-right: 10px;
            }
            .img_code {
                position: relative;
                display: inline;
            }
        }
    }
    /*找回交易密码*/
    .trans_pwd {
        width: 865px;
        font-size: 0;
        margin: 50px auto 0 auto;
        .trans_pwd1{
            span{
                display: inline-block;
                width: 50px;
                height: 50px;
                background: url(https://r.mzmoney.com/mz/img/ico_user_center.png) no-repeat;
            }
            .step_line {
                height: 2px;
                width: 75px;
                background: #c4c4c4;
                position: relative;
                top: -25px;
                margin: 0;
                padding: 0;
            }
            .step_line.on {
                background: #fc756c;
            }
            .step1.on {
                background-position: -10px -428px;
            }
            .step2 {
                background-position: -82px -358px;
            }
            .step2.on {
                background-position: -82px -428px;
            }
            .step3 {
                background-position: -160px -358px;
            }
            .step3.on{
                background-position: -160px -428px;
            }
        }
        .trans_pwd2{
            ul{
                @extend .clearfix;
                li{
                    float: left;
                    width: 201px;
                    text-align: center;
                    &:nth-child(1){
                        p{
                            padding-left:50px;
                        }
                    }
                    &:nth-child(2){
                        p{
                            padding-left:48px;
                        }
                    }
                    &:nth-child(3){
                        p{
                            padding-left:46px;
                        }
                    }
                }
            }
        }
    }
    .trans_pwd_form {
        border: 1px solid #dbdbdb;
        width: 650px;
        margin: 0 auto;
        .title {
            padding: 10px;
            border-bottom: 1px solid #dbdbdb;
            img{
                display: inline-block;
                position: relative;
                top: 5px;
            }
        }
        label{
            display: inline-block;
            height:32px;
            vertical-align: top;
        }
        .form_input {
            margin-bottom: 10px;
            height:32px;
            overflow: hidden;
        }
        .inp {
            width: 215px;
            height: 30px;
            line-height: 30px;
            border-radius: 3px;
            text-indent: 10px;
            border: 1px solid #dcdcdc;
        }
        .text {
            width: 100px !important;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            text-align: right;
            padding-right: 10px;
        }
        .icon-tel {
            display: inline-block;
            width: 25px;
            height: 20px;
            background: url(https://r.mzmoney.com/mz/img/ico_user_center.png) no-repeat -590px -258px;
        }
        .user-center-form{
            @extend .clearfix;
        }
    }
}
label.error,div.error{
    background: url(https://r.mzmoney.com/mz/img/ico_01.png) no-repeat left center;
    margin-left: 10px;
    padding-left: 20px;
    color: #e72210;
    vertical-align: middle;
    display: inline-block;
    width: 200px;
    line-height: 20px !important;
    height: 20px !important;
    font-size: 12px;
}
#find_form div.error,#newPayPwdForm div.error{
    display: block;
    margin-top:20px;
    margin-left:110px !important;
}
#identityBox{
    display: none;
}
.p10{
    padding:10px;
}
.p20{
    padding:20px;
}
.pl10{
    padding-left:10px;
}
.pt10{
    padding-top:10px;
}
.pt20{
    padding-top:20px;
}
.pt30{
    padding-top:30px;
}
.pb50{
    padding-bottom:50px;
}
.mt15{
    margin-top:15px;
}
.mt20{
    margin-top:20px;
}
.mt30{
    margin-top:30px !important;
}
.mt50{
    margin-top:50px;
}
.mt60{
    margin-top:60px !important;
}
.ml15{
    margin-left:15px;
}
.ml30{
    margin-left:30px;
}
.ml100{
    margin-left:100px;
}
.ml150{
    margin-left:150px;
}
.ml80{
    margin-left:80px;
}
.ml250{
    margin-left:250px;
}
.mr5{
    margin-right:5px;
}
.mr20{
    margin-right:20px;
}
.m-c{
    margin:0 auto;
}
.t-c{
    text-align: center;
}
.f14{
    font-size:14px !important;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size:18px;
}
.f22{
    font-size:22px;
}
.f26{
    font-size: 26px;
}
.lh25{
    line-height: 25px;
}
.w380{
    width:380px;
}
.w500{
    width:500px;
}
.cGreen2 {
    color: #2bbe00;
}
.color_green {
    color: #53a03b;
}
.color_blue {
    color: #0099ff;
}
.red {
    color: #f04f4b !important;
}
.btn{
    display: inline-block;
    &:hover{
        background-color: #fb746b;
        color: #fff;
    }
}
.submitBtn{
    margin-left:110px !important;
}
#submit,div.error{
    margin-top:10px;
    display: block;
    margin-left:170px !important;
}
#newPayPwdForm{
    .submitBtn{
        margin-top:20px;
    }
}
.btn.btn-disabled, .btn-disabled {
    border-radius: 4px;
    padding: 5px 0;
    width: 104px;
    color: #4a4a4a;
    background: #dcdcdc;
    border: 1px solid #c8c8c8;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}
.btn-default, .label-default {
    border-radius: 4px;
    border:none;
    padding:0 40px;
    height:32px;
    line-height: 32px;
    background-color: #f04f4b;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    color: #fff;
}
