<% include ../common/header.html %>
<div class="container w1200 clearFixed margin_top_bottom20">
    <div class="findPasswordCenter">
        <div class="findPasswordTit">您正在为账户 <%= baseInfo.uTel.substr(0, 3) +'****' +baseInfo.uTel.substr(7, 11) %>，找回交易密码</div>
        <div class="findPasswordStep clearFixed">
            <span><i style="width: 400px;"></i></span>
            <ul>
                <li class="active fd1"><i></i>手机验证</li>
                <li class="active fd2"><i></i>重置密码</li>
                <li class="fd3"><i></i>重置成功</li>
            </ul>
        </div>
        <div class="sureIdentify">
            <div class="sureIdentifyTit"><i></i>您正在使用<font>“短信验证码+身份验证”</font>进行找回交易密码</div>
            <div class="newPayPassword">
                <form method="get" action="" id="resetPayPassword">
                    <ul>
                        <li>
                            <span>新交易密码：</span>
                            <input type="password" name="newPass" id="newPass" placeholder="请输入新交易密码">
                        </li>
                        <li>
                            <span>确认新密码：</span>
                            <input type="password" name="sureNewPass" id="sureNewPass" placeholder="请确认新交易密码">
                        </li>
                        <li><input type="submit" value="确认重置密码"></li>
                    </ul>
                </form>
            </div>
            <div class="newPayPasswordTips">如有疑问，致电客服热线 400-757-8888</div>
        </div>
        <div class="findPasswordTis">
            <ul>
                <li>· 如果您注册绑定的手机未在使用或已挂失，请申请人工处理！</li>
                <li>· 申请人工审核、解决密码找回、修改手机、修改邮箱问题！</li>
                <li>· 人工审核需要两个小时（工作时间8:30 - 21:00，非工作时间提交后48小时），请耐心等待。</li>
            </ul>
        </div>
    </div>
</div>
<% include ../common/footer.html %>
<script src="/public/js/common/jquery.validate.js"></script>
<script src="../../public/js/common/common.utils.js"></script>
<script src="../../public/js/borrower/pay_resetPass.js"></script>