<link rel="stylesheet" href="/public/css/s_apply.min.css">
<% include ../common/nav.html %>
<div class="containt-box">
    <% include ../common/memberLeftNav.html %>
    <div class="containRight">
        <div class="bread_crumbs">
            <div class="title">
                <span>申购记录</span>
            </div>
        </div>
        <div class="applyRecord">
            <table>
                <tr>
                    <th>申购时间</th>
                    <th>产品</th>
                    <th>交易金额（元）</th>
                    <th>状态</th>
                    <th></th>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="apply">申购中</td>
                    <td class="interestAccrual"></td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="fail">申购失败</td>
                    <td class="interestAccrual"></td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="success">申购成功</td>
                    <td class="interestAccrual">等待计息</td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="success">申购成功</td>
                    <td class="interestAccrual">计息中</td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="success">申购成功</td>
                    <td class="interestAccrual">计息结束</td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="apply">申购中</td>
                    <td class="interestAccrual"></td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="fail">申购失败</td>
                    <td class="interestAccrual"></td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="success">申购成功</td>
                    <td class="interestAccrual">等待计息</td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="success">申购成功</td>
                    <td class="interestAccrual">计息中</td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="success">申购成功</td>
                    <td class="interestAccrual">计息结束</td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="apply">申购中</td>
                    <td class="interestAccrual"></td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="fail">申购失败</td>
                    <td class="interestAccrual"></td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="success">申购成功</td>
                    <td class="interestAccrual">等待计息</td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="success">申购成功</td>
                    <td class="interestAccrual">计息中</td>
                </tr>
                <tr>
                    <td>2017-04-18</td>
                    <td>丰利赢M1205</td>
                    <td>50000</td>
                    <td class="success">申购成功</td>
                    <td class="interestAccrual">计息结束</td>
                </tr>
            </table>
            <% include ../common/pagination.html %>
        </div>
        <div class="bread_crumbs">
            <div class="title">
                <span>申购记录说明</span>
            </div>
        </div>
        <div class="recordeExplanation">
            <p>您付款成功的订单，会进入此申购记录列表。</p>
            <p> 我们会在募集期内将您申购中订单报送至存管银行，存管银行审批通过后您的订单会更变为申购成功状态，并等待计息，一般申购成功后的第二天开始计息。</p>
            <p>申购失败的产品，我们将会把您的投资金额原路返回至您的账户余额。</p>
        </div>

    </div>
</div>
<% include ../common/memberFooter.html %>