<% include ../common/header.html %>
<div class="container w1200 clearFixed margin_top_bottom40">
    <div class="findPasswordCenter">
        <div class="findPasswordTit">您正在为账户找回登录密码</div>
        <div class="findPasswordStep clearFixed">
            <span><i style="width: 100%;"></i></span>
            <ul>
                <li class="active fd1"><i></i>手机确认账号</li>
                <li class="active fd2"><i></i>重置密码</li>
                <li class="active fd3"><i></i>重置成功</li>
            </ul>
        </div>
        <div class="findSuccess">
            <span><i></i>登录密码重置成功</span>
            <p><font></font>s后自动返回登录页 <a href="/borrower/login/index">立即返回</a></p>
        </div>
        <div class="findPasswordTis">
            <ul>
                <li>· 如果您注册绑定的手机未在使用或已挂失，请申请人工处理！</li>
                <li>· 申请人工审核、解决密码找回、修改手机、修改邮箱问题！</li>
                <li>· 人工审核需要两个小时（工作时间08:30~21:00，非工作时间提交后48小时），请耐心等待。</li>
            </ul>
        </div>
    </div>
</div>
<% include ../common/footer.html %>
<script>
    $(function(){
      var time = 6;
      var timer;
      function countTime(){
        time--;
        if(time>0){
          $('.findSuccess font').text(time);
          setTimeout(countTime,1000);
        }else{
          clearTimeout(timer);
          window.location.href = '/borrower/login';
        }
      }
      countTime();
    });
</script>