<% include common/header.html %>
<% include common/position.html %>
<div class="container w1200 clearFixed margin_top_bottom20">
    <div class="successCenter">
        <div class="successTop"><i class="icon-success"></i><strong>支付成功</strong><p>完成订单支付后，请尽快联系业务员上标！</p></div>
        <div class="successDetail">
            <ul>
                <li><p>流水号</p><span>20170308210500201010310001273490</span></li>
                <li><p>还款金额</p><span>100,000.00元</span></li>
                <li><p>标的名称</p><span>新手标第二十期M20</span></li>
                <li><p>备注说明</p><span>订单备注说明信息</span></li>
            </ul>
        </div>
        <div class="backVipCenter"><a href="/borrower/">返回账户管理</a></div>
    </div>
</div>
<% include common/footer.html %>