<% include common/header.html %>
<div class="container w1200 clearFixed margin_top_bottom20">
    <div class="successCenter">
        <div class="successTop">
            <i class="icon-success"></i><strong>提现申请成功！</strong>
            <p style="padding-top: 10px;">您的提现申请，已经提交银行处理！</p>
        </div>
        <div class="rechargeTip">
            <span>温馨提示：</span>
            <ul>
                <li>1、为了您的账户安全，请在提现前进行身份认证、手机绑定、银行卡绑定以及提现密码设置。</li>
                <li>2、为保障您的账户资金安全，您选择的银行卡开户名必须与您妙资账户实名认证一致，否则提现申请将无法成功。</li>
                <li>3、为了您提现能及时到账，提现时您需要完善银行卡开户行地址信息。</li>
                <li>4、每日提现1笔，高等级妙资会员可享受多笔提现【查看会员详情】。</li>
                <li>5、禁止充值不投资直接提现等行为，一经发现并确认，将终止该账户的使用。</li>
                <li>6、目前提现到账时间一般为1～2个工作日。工作日12点前提交提现申请，我们将在T+0日内打款，工作日12点后提交提现申请，我们将在T+1日内打款，到账时间因各个银行不同，以实际银行到账为准。（如遇法定节假日顺延）。</li>
                <li>7、如果提现金额没有到账，请联系客服。（客服热线：400-757-8888）</li>
            </ul>
        </div>
        <div class="backVipCenter"><a href="/borrower/">返回账户管理</a></div>
    </div>
</div>
<% include common/footer.html %>