<link rel="stylesheet" href="/public/css/s_messageDetail.min.css">
<% include ../../common/nav.html %>
<div class="containt-box">
    <% include ../../common/memberLeftNav.html %>
    <div class="user-wrapper mt0 miH838">
        <div class="bread_crumbs">
            <div class="title title_hp2">
                <span class="borderNone">消息详情</span>
            </div>
        </div>
        <% if(!error){ %>
        <div class="p30">
            <p class="f14">
                <span class="fb ml20"><%= messageType %></span>
                <a href="/member/message" class="color_blue fr">返回公告列表</a>
            </p>
            <div class="message_detail">
                <h2 class="t-c p30"><%= messageDetail.messageTitle %></h2>
                <h4 class="t-c p20" style="margin-top:-34px;color:#999"><%= messageDetail.time %></h4>
            </div>
            <div class="f14 lh20">
                <p><%= messageDetail.messageContent %></p>
            </div>

        </div>
        <% }else{ %>
        <div class="networkErrorBox">
            <p>网络开小差啦，请刷新页面试试吧~</p>
            <a href="javascript:window.location.reload();">刷新页面</a>
        </div>
        <% } %>
    </div>
</div>
<% include ../../common/memberFooter.html %>