<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="rev2vesxXw" />
    <meta name="keywords" content="妙资,妙资金融,投资理财,个人理财,互联网金融，p2p网贷，p2p理财">
    <meta name="description" content="妙资金融财富管理中心（杭州）有限公司（简称妙资金融）专注于互联网金融，为小微企业、普通大众、个人创业者以及小型金融机构提供基于互联网和移动互联网的综合金融服务。业务涵盖个人消费金融、中小微企业金融、大数据服务等。">
    <title>妙资金融官网-安全可靠的互联网金融平台，投资理财首选！</title>
    <link rel="stylesheet" href="/public/css/common/reset.min.css">
    <link rel="stylesheet" href="/public/css/common/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/public/css/s_index.min.css">
    <script src="/public/js/common/jquery-1.9.1.min.js"></script>
</head>
<body>
<!--[if lt IE 9]>
<div class="ie-warning">
    <span>您的浏览器版本过低，为了获得更好的浏览体验，建议升级浏览器，或者下载手机客户端理财</span>
    <div class="img-box">
        <img class="small" src="https://r.mzmoney.com/r/cms/www/red/img/download/number.png" alt="">
        <img class="large" src="https://r.mzmoney.com/r/cms/www/red/img/download/number.png" alt="">
    </div>
</div>
<style>
    .weibo-link-box,.two-dimension-code-box{
        top: 75px !important;
    }
</style>
<![endif]-->
<!--登录条begin-->
<div class="topBar-box"></div>
<div class="two-dimension-code-box">
    <div class="two-dimension-code">
        <span class="two-dimension-code-img">
            <img src="https://r.mzmoney.com/mz/img/right-fixed_er.png" alt="">
        </span>
    </div>
</div>
<!--登录条end-->
<!--导航begin-->
<div class="nav-box">
    <div class="nav-innerBox">
        <a href="/">
            <span class="logo"></span>
        </a>
        <div class="nav fr">
            <ul class="clearfix fs16">

                <li class="navActive">
                    <a  href=/ >首页</a>
                </li>

                <li >
                    <a  href=/list >我要投资</a>
                </li>

                <li >
                    <a  href=https://www.mzmoney.com/topic/lead1.html >新手指引</a>
                </li>

                <li >
                    <a  href=https://www.mzmoney.com/topic/safereport/safereport.html >安全保障</a>
                </li>

                <li >
                    <a  href=/news/mtzx/ >妙资风采</a>
                </li>

                <li >
                    <a  href=/member >个人中心</a>
                </li>

            </ul>
            <em class="border-btm"></em>
        </div>
    </div>
</div>
<!--导航end-->
<!--banner begin-->
<div class="banner-box">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-background="https://r.mzmoney.com/mzuploads/p_a_dadvertising/201706/2473477a248b4e44bcbcf14c591df44e.png">
                <a href='https://w24.mzmoney.com/specialtopics/monthreport/monthreport.html'></a>
            </div>
            <div class="swiper-slide" data-background="https://r.mzmoney.com/mzuploads/p_a_dadvertising/201706/d9f86b6187084aa18df98f5bc4c7642b.jpg">
                <a href='https://w24.mzmoney.com/specialtopics/monthreport/monthreport.html'></a>
            </div>

            <div class="swiper-slide" data-background="https://r.mzmoney.com/mzuploads/p_a_dadvertising/201706/9265c4a4e3074e7c91ebd7cb8a67a3d2.jpg">
                <a href='https://w24.mzmoney.com/specialtopics/fathersday/fathersday.html'></a>
            </div>

            <div class="swiper-slide" data-background="https://r.mzmoney.com/mzuploads/p_a_dadvertising/201706/843308e0a1cc46c9aab98bd84acecff5.jpg">
                <a href='https://www.mzmoney.com/topic/meeting/meeting.html'></a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!--快捷登录框-->
    <div class="quickLogin-outerBox wth mrCenter"></div>
</div>
<!--banner end-->
<!--数据披露begin-->
<div class="investmentAmount-box">
    <a href="http://10.10.20.190:5110/topic/datashow2017/datashow2017.html">
        <div class="investment-innerBox mrCenter wth">
            <span class="data-reveal fl">
                <h3>数据披露<span>Data availability</span></h3>
                <p>截止至<span class="end-time"></span>00:00:00</p>
            </span>
            <ul>
                <li>
                    <div href="javascript:;">
                        <h3 class="fs18">用户累计投资</h3>
                        <p class="J_num fs18"></p>
                    </div>
                </li>
                <li>
                    <div href="javascript:;">
                        <h3 class="fs18">平台累计发放收益</h3>
                        <p class="J_num2 fs18"></p>
                    </div>
                </li>
                <li>
                    <div href="javascript:;">
                        <h3 class="fs18">累计注册人数</h3>
                        <p class="J_num3 fs18"></p>
                    </div>
                </li>
            </ul>
            <div class="fr indexDateMore">
                <span href="javascript:void(0);"></span>
            </div>
        </div>
    </a>
</div>
<!--数据披露end-->
<!--公告消息begin-->
<div class="notice-box">
    <a href="javascript:;">
        <p class="notice">测试公告</p>
        <span></span>
    </a>
</div>
<!--公告消息end-->
<!--首页平台数据begin-->
<div class="contentBox">
    <div class="safe-box wth mrCenter">
        <ul>
            <li class="fl">
                <a href="/topic/safereport/safereport.html" target="_blank">
                    <i class="safe-icon safe2-icon"></i>
                    <div class="text">
                        <p class="title fs18">安全保障</p>
                        <p class="fs14">资金全程银行监管</p>
                    </div>
                </a>
            </li>
            <li class="fl">
                <a href="/topic/history-full.html" target="_blank">
                    <i class="year-icon year2-icon"></i>
                    <div class="text">
                        <p class="title fs18">九年妙资</p>
                        <p class="fs14">妙资金融九年历程</p>
                    </div>
                </a>
            </li>
            <li class="fl">
                <a href="/topic/operationreport/operationreport.html" target="_blank">
                    <i class="data-icon data2-icon"></i>
                    <div class="text">
                        <p class="title fs18">平台数据</p>
                        <p class="fs14">16年平台运营报告</p>
                    </div>
                </a>
            </li>
            <li class="fl">
                <a href="/member/invitation/index.htm" target="_blank">
                    <i class="news-icon invite2-icon"></i>
                    <div class="text">
                        <p class="title fs18">邀请送现金</p>
                        <p class="fs14">邀请好友拿现金</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--首页平台数据end-->
<!--产品列表-->
<div class="list-box" id="product_list"></div>
<!--开通存管账户弹框通知-->
<div class="modalBox">
    <div class="modal">
        <div class="content">
            <p>恭喜！</p>
            <p>您的账户已升级为恒丰银行资金存管账户</p>
        </div>
        <a href="javascript:;" class="closeBtn">确定</a>
    </div>
</div>
<!--资讯begin-->
<div class="link-box">
    <div class="link-innerBox wth mrCenter">
        <ul class="clearfix">
            <li class="fl">
                <a href="/news/mtbd/20170418/15988.html" class="img-link" title="体验一把热火朝天 妙资金融湘湖春游" target="_blank">
                    <img src="https://r.mzmoney.com/u/cms/www/201704/181147107bry.jpg" alt="体验一把热火朝天 妙资金融湘湖春游">
                </a>
            </li>
            <li class="fl">
                <a href="/news/mtbd/20170411/15977.html" class="img-link" title=" 4月10日妙资金融参加第二届浙江省金融报告会" target="_blank">
                    <img src="https://r.mzmoney.com/u/cms/www/201704/111757292xp1.jpg" alt=" 4月10日妙资金融参加第二届浙江省金融报告会">
                </a>
            </li>
            <li class="fl">
                <a href="/news/mtbd/20170410/15974.html" class="img-link" title="4月7日妙资金融受邀参加浙江互联网金融联盟欺诈和反欺诈研讨会" target="_blank">
                    <img src="https://r.mzmoney.com/u/cms/www/201704/101811416b5k.jpg" alt="4月7日妙资金融受邀参加浙江互联网金融联盟欺诈和反欺诈研讨会">
                </a>
            </li>
        </ul>
    </div>
    <div class="link-innerBox wth mrCenter">
        <ul class="clearfix">
            <li class="fl">
                <h3 class="fs18">妙资风采<a href="/news/mtzx/" class="fr" target="_blank">+更多</a></h3>
                <a href="/news/mtbd/20170330/15959.html" target="_blank" title="妙资为18位员工举办集体生日会 小编也在其中哦" class="fs14 notice">
                    <i></i>
                    妙资为18位员工举办集体生日会 小编也在其中哦                </a>
                <a href="/news/mtbd/20170320/15933.html" target="_blank" title="妙资金融3月17日参加浙江互金联盟存管技术交流会" class="fs14 notice">
                    <i></i>
                    妙资金融3月17日参加浙江互金联盟存管技术交                </a>
                <a href="/news/mtbd/20170308/15910.html" target="_blank" title="不一般的妙资 不一般的女神节" class="fs14 notice">
                    <i></i>
                    不一般的妙资 不一般的女神节                </a>
            </li>

            <li class="fl">
                <h3 class="fs18">妙资公告<a href="/news/notice/" class="fr" target="_blank">+更多</a></h3>
                <a href="/news/notice/20170512/16037.html" target="_blank" title="关于5月15日晚上客服呼叫系统维护的通知" class="fs14 notice">
                    <i></i>
                    关于5月15日晚上客服呼叫系统维护的通知                </a>
                <a href="/news/notice/20170508/16025.html" target="_blank" title="建设银行5月8日起认证支付限额调整的通知" class="fs14 notice">
                    <i></i>
                    建设银行5月8日起认证支付限额调整的通知                </a>
                <a href="/news/notice/20170427/16012.html" target="_blank" title="五一开宝箱，领取510元礼券活动开始啦" class="fs14 notice">
                    <i></i>
                    五一开宝箱，领取510元礼券活动开始啦                </a>
            </li>

            <li class="fl">
                <h3 class="fs18">常见问题<a href="/news/gymz/" class="fr" target="_blank">+更多</a></h3>
                <a href="/news/gymz/" target="_blank" title="妙资金融是一家什么样的平台" class="fs14 notice">
                    <i></i>
                    妙资金融是一家什么样的平台
                </a>
                <a href="/news/mzlccp/" target="_blank" title="金包及其使用规则" class="fs14 notice">
                    <i></i>
                    金包及其使用规则
                </a>
                <a href="/news/hkytx/" target="_blank" title="到期后如何收回投资本金和利息" class="fs14 notice">
                    <i></i>
                    到期后如何收回投资本金和利息
                </a>
            </li>
        </ul>
    </div>

</div>
<!--资讯end-->
<!--合作伙伴begin-->
<p class="partner fs24">
    <span>—</span>
    合作伙伴
    <span>—</span>
</p>
<div class="partnerLink-box">
    <div class="partner-link wth mrCenter">
        <div class="partner-swiper-container" style="cursor: -webkit-grab;">
            <span class="direction toLeft"></span>
            <span class="direction toRight"></span>
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="https://r.mzmoney.com/u/cms/www/201608/312045171s46.png" alt="连连支付">
                </li>
                <li class="swiper-slide">
                    <img src="https://r.mzmoney.com/u/cms/www/201608/31204358z8hm.png" alt="融途网">
                </li>
                <li class="swiper-slide">
                    <img src="https://r.mzmoney.com/u/cms/www/201608/31204540t0ig.png" alt="网贷互联">
                </li>
                <li class="swiper-slide">
                    <img src="https://r.mzmoney.com/u/cms/www/201608/312044331h71.png" alt="华融渝富">
                </li>
                <li class="swiper-slide">
                    <img src="https://r.mzmoney.com/u/cms/www/201608/31204450y6pu.png" alt="嘉丰担保">
                </li>
                <li class="swiper-slide">
                    <img src="https://r.mzmoney.com/u/cms/www/201608/31204505uoan.png" alt="百度信誉">
                </li>
                <li class="swiper-slide">
                    <img src="https://r.mzmoney.com/u/cms/www/201608/3120422039lb.png" alt="中国互联网金融协会">
                </li>
                <li class="swiper-slide">
                    <img src="https://r.mzmoney.com/u/cms/www/201608/31204906so6v.png" alt="中国中小企业协会">
                </li>
                <li class="swiper-slide">
                    <img src="https://r.mzmoney.com/u/cms/www/201608/31204319irgo.png" alt="西南证券">
                </li>
                <li class="swiper-slide">
                    <img src="https://r.mzmoney.com/u/cms/www/201608/31204341j6df.png" alt="网贷之家">
                </li>
                <li class="swiper-slide">
                    <img src="https://r.mzmoney.com/u/cms/www/201608/312045171s46.png" alt="连连支付">
                </li>
            </ul>
        </div>
    </div>
</div>
<!--合作伙伴end-->

<!--首页底部begin-->
<div class="aboutUs-box">
    <div class="aboutUs-innerBox wth mrCenter">
        <ul class="clearfix">
            <li class="fl">
                <p class="top-title fs16">关于妙资</p>
                <a href="/news/about.html" target="_blank" class="fs14">公司介绍</a>
                <a href="/news/xlwm.html" target="_blank" class="fs14">联系我们</a>
                <a href="/news/aqcn.html" target="_blank" class="fs14">安全承诺</a>
            </li>
            <li class="fl">
                <p class="top-title fs16">帮助中心</p>
                <a href="https://www.mzmoney.com/topic/lead1.html" target="_blank" class="fs14">新手指引</a>
                <a href="/news/gymz/" target="_blank" class="fs14">常见问题</a>
                <a href="/news/flfg.html" target="_blank" class="fs14">法律法规</a>
            </li>
            <li class="fl connect-us">
                <p class="tel">400-757-8888</p>
                <p class="people-work-time">服务时间： 周一至周五：8:30-21:00</p>
                <p class="people-work-time">周六、周日：8:30-17:30</p>
                <p class="address">杭州市西湖区文三路553号浙江中小企业大厦10楼</p>
            </li>
            <li class="fl download-app">
                <img src="https://r.mzmoney.com/mz/img/hpimg/app.png" alt="">
                <p class="app-text">下载app</p>
            </li>
            <li class="fl download-app">
                <img src="https://r.mzmoney.com/mz/img/hpimg/wechat.png" alt="">
                <p class="app-text">关注公众号</p>
            </li>
        </ul>
    </div>
</div>
<div class="footer fs12">
    <div class="footer-inner-box wth mrCenter">
        <span>Copyright© 2015 妙资金融财富管理中心（杭州）有限公司  | 浙ICP备13033224号-1 | ICP经营许可证编号：浙B2-20150584</span>
        <p class="clearfix">
            <a href="https://www.mzmoney.com/topic/icpLogo.html" target="_blank"><img src="https://r.mzmoney.com/mz/img/hpimg/icpLogoColor.png" alt=""></a>
            <a href="http://si.trustutn.org/info?sn=151160914000519495746&certType=4" target="_blank"><img src="https://r.mzmoney.com/r/cms/www/red/img/3/p2p_bottom_large_img.jpg" alt=""></a>
            <a href="http://koubei.baidu.com/s/mzmoney.com" target="_blank"><img src="https://r.mzmoney.com/r/cms/www/red/img/new_index/koubei.png" alt=""></a>
            <a class="middle-logo" href="http://idinfo.zjaic.gov.cn/bscx.do?method=hddoc&id=33010000001777" target="_blank"><img src="https://r.mzmoney.com/r/cms/www/red/img/new_index/i_lo2.gif" alt=""></a>
        </p>
    </div>
</div>
<!--首页底部end-->

<!--悬浮qq begin-->
<div class="connect-fixed">
    <div class="downloadFix-box">
        <a href="javascript:;" class="download-fixed"><i></i>APP下载</a>
        <div class="fixed-server-content">
            <img src="https://r.mzmoney.com/r/cms/www/red/img/download/number.png" width="103px" height="103px">
        </div>
    </div>
    <div class="qqFix-box">
        <a href="javascript:;" class="qq-fixed"><i></i>在线客服</a>
    </div>
    <div class="topFix-box">
        <a href="javascript:;" class="toTop-fixed"><i></i>返回顶部</a>
    </div>
</div>
<!--悬浮qq end-->
<script src="/public/js/common/fixedQQ.js"></script>
<script src='//kefu.easemob.com/webim/easemob.js'></script>
<script src="/public/js/common/s_nav.js"></script>
<script src="/public/js/common/swiper-3.4.2.min.js"></script>
<script src="/public/js/common/jquery.validate.js"></script>
<script src="/public/js/common/common.utils.js"></script>
<script src="/public/js/s_index.js"></script>
</body>
</html>