.list-tabs-box{
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    min-width: 1200px;
    height: 40px;
    background-color: #eeeeee;
    .list-tabs{
        margin:0 auto;
        width:1200px;
        .tabs{
            display: inline-block;
            padding-left: 51px;
            padding-right: 27px;
            height: 100%;
            line-height: 40px;
            text-align: center;
            color: #999;
        }
        .active {
            color: #f76867;
        }
    }
}
.list-box{
    margin:0 auto 40px auto;
    width:1200px;
}
.new-only{
    margin:0 auto;
    width:1200px;
}
