.containtBox{
    margin:30px auto 0 auto;
    width:1200px;
    .errorBox{
        margin: 20px auto;
        padding-left:75px;
        height: 100px;
        background: url('https://r.mzmoney.com/mz/img/fail_icon.png') 30px center no-repeat #fff7ed;
        border: 1px solid #fdc37e;
        font-size:22px;
        line-height: 100px;
    }
    .warmTipBox{
        padding: 30px;
        width:1140px;
        height: 192px;
        background: #fff;
        margin: 0 auto;
        border: 1px solid #d5d5d5;
        h3{
            margin-bottom:15px;
            line-height: 30px;
            font-size:16px;
            color: #000;
        }
        p{
            font-size:14px;
            color: #323232;
            line-height: 30px;
        }
        .question2{
            margin-top:15px;
        }
    }
}