<% include ../common/header.html %>
<div class="container w1200 clearFixed margin_top_bottom20">
    <% include ../common/menu.html %>
    <div class="main fr">
        <div class="changePasswordMain">
            <div class="changePasswordTit"><span>登录密码</span> 初始密码由妙资业务员分配，如忘记初始密码请联系业务员<a href="/borrower/findLoginPassword/index">忘记登录密码</a></div>
            <div class="changePasswordBox">
                <form id="changeLoginPassword" method="post" action="">
                    <ul>
                        <li>
                            <span>原密码：</span>
                            <input type="password" placeholder="请输入密码" id="oldPass" name="oldPass" required>
                        </li>
                        <li>
                            <span>新密码：</span>
                            <input type="password" placeholder="请设置新密码" id="newPass" name="newPass" required>
                        </li>
                        <li>
                            <span>确认新密码：</span>
                            <input type="password" placeholder="请确认新密码" id="sureNewPass" name="sureNewPass" required>
                        </li>
                        <li>
                            <input type="submit" value="确认">
                            <input type="reset" value="取消">
                        </li>
                    </ul>
                </form>
            </div>
            <% if( baseInfo.isPayPass == 0 ){ %>
            <div class="changePasswordTit"><span>设置交易密码</span> 保障资金安全，充值、取现、还款等资金相关操作时使用</div>
                <div class="changePay_step">
                    <ul>
                        <li class="on">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;短信验证</li>
                        <li>设置交易密码</li>
                    </ul>
                </div>
                <div class="setPay_dx">
                    <form id="DxProve" action="" method="post">
                        <div class="uTel">原预留手机号：<%= baseInfo.uTel %></div>
                        <div class="setPay_dxMain">
                            <ul>
                                <li>
                                    <input type="text" placeholder="输入短信验证码" name="dxCode" id="dxCode">
                                    <a href="javascript:void(0);" class="getMesCode">获取验证码</a>
                                </li>
                                <li>
                                    <input type="text" placeholder="身份证末8位" name="dxId" id="dxId">
                                </li>
                                <li>
                                    <input type="submit" value="确认">
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="setPay_main">
                    <form action="" method="post" id="setPayPassword">
                        <ul>
                            <li>
                                <span>交易密码</span>
                                <input type="password" placeholder="请输入密码" id="set_payPass" name="set_payPass">
                            </li>
                            <li>
                                <span>确认密码</span>
                                <input type="password" placeholder="请确认密码" id="set_surePay" name="set_surePay">
                            </li>
                            <li>
                                <input type="submit" value="确认">
                                <input type="reset" value="取消">
                            </li>
                        </ul>
                    </form>
                </div>
            <% }else{ %>
                <div class="changePasswordTit"><span>交易密码</span> 保障资金安全，充值、取现、还款等资金相关操作时使用<a href="/borrower/findPayPassword/index">忘记交易密码</a></div>
                <div class="changePasswordBox">
                    <form id="changePayPassword" method="post" action="">
                        <ul>
                            <li>
                                <span>原密码：</span>
                                <input type="password" placeholder="请输入密码" id="Pay_oldPass" name="Pay_oldPass">
                            </li>
                            <li>
                                <span>新密码：</span>
                                <input type="password" placeholder="请设置新密码" id="Pay_newPass" name="Pay_newPass">
                            </li>
                            <li>
                                <span>确认新密码：</span>
                                <input type="password" placeholder="请确认新密码" id="Pay_sureNewPass" name="Pay_sureNewPass">
                            </li>
                            <li>
                                <span>身份证末8位：</span>
                                <input type="password" placeholder="请输入身份证末8位" id="Pay_Id" name="Pay_Id">
                            </li>
                            <li>
                                <input type="submit" value="确认">
                                <input type="reset" value="取消">
                            </li>
                        </ul>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
    <div class="clear"></div>
</div>
<% include ../common/footer.html %>
<div class="changeSuccess">
    <div class="changeSuccessMain">修改完成</div>
</div>
<script src="/public/js/common/jquery.validate.js"></script>
<script src="../../public/js/common/common.utils.js"></script>
<script src="../../public/js/borrower/changePassword.js"></script>