<link rel="stylesheet" href="/public/css/common/s_findPassword.min.css">
<% include ../../common/nav.html %>
<div class="section_w mt15">
    <div class="p20">
        <p class="f16">
            您正在为账户找回登录密码
        </p>
        <div class="retrieve_pwd">
            <div class="retrieve1">
                <span class="ml150 step step1 on"></span>
                <span class="step step_line on"></span>
                <span class="step step_line on"></span>
                <span class="step step2 on"></span>
                <span class="step step_line on"></span>
                <span class="step step_line on"></span>
                <span class="step step3 on"></span>
            </div>
            <div class="retrieve2 t-c mt15">
                <ul>
                    <li>
                        <p class="f18">
                            手机确认账号
                        </p>
                    </li>
                    <li>
                        <p class="f18">
                            重置密码
                        </p>
                    </li>
                    <li>
                        <p class="f18">
                            重置成功
                        </p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>

        <div class="mt50">
            <div class="w380 m-c mb100 mt60 f22 cGreen2">
                <img src="https://r.mzmoney.com/mz/img/reg_success.jpg" class="fl mr20"/>
                <p class="pt20"><span class="cGreen2">登录密码重置成功！</span></p>
                <p class="f14 cBlack mt20 ml80">
                    <span><span id="second" style="color:red;font-size: 18px;">5</span> s后自动返回登录页</span><a href="/login" class="color_blue ml15">立即返回</a>
                </p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="pt20">
            <hr style="border:1px solid #e1e1e1;" class="mt30">
        </div>
        <div class="f14 pl10 lh25 pt10">
            <p>
                · 如果您注册绑定的手机未在使用或已挂失，请申请人工处理！
            </p>
            <p>
                · 申请人工审核、解决密码找回、修改手机、修改邮箱问题！
            </p>
            <p>
                · 人工审核需要两个小时（工作时间08:30~21:00，非工作时间提交后48小时），请耐心等待。
            </p>

        </div>
    </div>
</div>
<% include ../../common/footer.html %>
<script src="/public/js/s_findLoginPasswordSuccess.js"></script>
