<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>妙资金融网站服务协议</title>
    <link rel="stylesheet" href="/public/css/common/reset.min.css">
    <link rel="stylesheet" href="/public/css/common/s_agreeCommon.min.css">
</head>
<body>
<div class="container">
    <h1 class="black fs16">妙资金融网站服务协议</h1>
    <p class="black fs14">一、重要提示</p>
    <p>妙资金融财富管理中心（杭州）有限公司（以下简称“妙资金融”）依据本协议的规定为妙资金融会员提供服务，本协议在您和妙资金融间具有合同上的法律效力。妙资金融在此特别提醒您，请在使用妙资金融网站服务前认真阅读全部协议内容。如您有任何疑问，可向妙资金融咨询，但无论您是否在使用妙资金融网站服务前认真阅读本协议，您一经注册或使用妙资金融网站服务即视为对本协议全部条款已充分理解并完全接受，本协议将对您产生约束。</p>
    <p class="black fs14">二、协议签署和修订 </p>
    <p>（一）本协议内容包括以下条款及妙资金融网站已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的一部分，与协议正文具有同等法律效力。本协议是您与妙资金融网站共同签订的，适用于您在妙资金融网站的全部活动。</p>
    <p>（二）妙资金融会员的通知及任何其他的协议、告示或其他关于您使用会员账户及服务的通知，您同意妙资金融可通过妙资金融平台公告、电子邮件、手机短信、无线通讯装置等电子方式或常规的信件传递等方式进行，该等通知于发送之日视为已送达收件人。因信息传输等原因导致个您未在前述通知发出当日收到该等通知的，妙资金融不承担责任。</p>
    <p>（三）您应不时地注意本协议及具体规则的变更，若您在本协议及具体规则内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议和具体规则内容，也将遵循修改后的协议和具体规则使用妙资金融网站的服务；同时就您在协议和具体规则修订前通过妙资金融网站进行的交易及其效力，视为您已同意并已按照本协议及有关规则进行了相应的授权和追认。若您不同意修改后的协议内容，您应停止使用妙资金融平台的服务。</p>
    <p>（四）您通过自行或授权有关方根据本协议及妙资金融网站有关规则、说明操作确认本协议后，本协议即在您和妙资金融网站之间产生法律效力。本协议不涉及会员与妙资金融网站的其他用户之间因网上交易而产生的法律关系或法律纠纷，但会员在此同意将全面接受和履行与妙资金融网站其他用户在妙资金融平台签订的任何电子法律文本，并承诺按该等法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。</p>
    <p class="black fs14">三、会员 </p>
    <p>（一）妙资金融会员是指符合中华人民共和国法律规定的具有完全民事权利和民事行为能力，能够独立承担民事责任的自然人和法人。在使用妙资金融服务前，会员必须先在妙资金融平台上进行注册。</p>
    <p>（二）您承诺以下事项：</p>
    <p>1、您必须依妙资金融要求提示提供您真实、最新、有效及完整的资料。</p>
    <p>2、您有义务维持并更新您的资料，确保其为真实、最新、有效及完整。若您提供任何错误、虚假、过时或不完整的资料，或者妙资金融依其独立判断怀疑资料为错误、虚假、过时或不完整，妙资金融有权暂停或终止您的会员账户，并拒绝您使用妙资金融服务的部份或全部功能。在此情况下，妙资金融不承担任何责任，并且您同意负担因此所产生的直接或间接的任何支出或损失。</p>
    <p>3、如因您未及时更新基本资料，导致妙资金融服务无法提供或提供时发生任何错误，您不得将此作为取消交易或拒绝付款的理由，妙资金融亦不承担任何责任，所有后果应由您承担。</p>
    <p class="black fs14">四、妙资金融服务 </p>
    <p>（一）妙资金融网站提供的服务内容包括但不限于：交易信息发布、查阅交易机会、提供交易管理服务、提供客户服务、提供资金充值、提现、代收、代付等等，具体详情以妙资金融当时提供的服务内容为准。您同意，针对借款人用户，妙资金融网站有权根据借款人提供的各项信息决定是否审核通过借款人的借款申请及推荐给担保人。妙资金融服务的部分内容需要您根据妙资金融要求完成身份认证及银行卡认证，未进行身份认证及/或银行卡认证的会员将无法使用该部分妙资金融服务。因未能完成认证而无法享受妙资金融服务造成的损失，妙资金融不承担任何责任。</p>
    <p>（二）妙资金融将为您提供信息发布服务。妙资金融向您提供的各种信息及资料（包括但不限于公司名称、联系人及联络信息，资金的需求或供给描述和说明）均由会员自行提供，会员应对其提供的信息承担全部责任。您应依其独立判断相关信息的真实性、合法性和有效性，结合自身的财务状况、风险承受能力、风险识别能力等谨慎决定是否借入/出借资金（出借方式包括但不限于向借款人直接出借或受让债权等形式）或提供担保等决策。您据此进行交易的，产生的风险由您自行承担，您无权据此向妙资金融提出任何法律主张。在交易过程中，会员之间发生的纠纷，由纠纷各方自行解决，妙资金融不承担任何责任。</p>
    <p>（三）妙资金融将为您提供以下交易管理服务：</p>
    <p>1、您在妙资金融平台进行注册时将生成您的会员账户，会员账户将记载您在妙资金融平台的活动，上述会员账户是您登陆妙资金融平台的唯一账户。</p>
    <p>2、您保证并承诺通过妙资金融平台进行交易的资金来源合法。</p>
    <p>3、您本人确认，您在妙资金融平台上按妙资金融服务流程所确认的交易状态，将成为妙资金融为您进行相关交易或操作（包括但不限于支付或收取款项、冻结资金、订立合同等）的不可撤销的指令。您同意相关指令的执行时间以妙资金融在妙资金融系统中进行实际操作的时间为准。您同意妙资金融有权依据本协议及/或妙资金融相关纠纷处理规则等约定对相关事项进行处理。您未能及时对交易状态进行修改、确认或未能提交相关申请所引起的任何纠纷或损失由您自行负责，妙资金融不承担任何责任。</p>
    <p>（四）如果妙资金融发现了因系统故障或其他任何原因导致的处理错误，无论有利于妙资金融还是有利于您，妙资金融都有权纠正该错误。如果该错误导致您实际收到的款项多于应获得的金额，则无论错误的性质和原因为何，妙资金融保留纠正不当执行的交易的权利，您应根据妙资金融向您发出的有关纠正错误的通知的具体要求返还多收的款项或进行其他操作。您理解并同意，您因前述处理错误而多付或少付的款项均不计利息，妙资金融不承担因前述处理错误而导致的任何损失或责任（包括您可能因前述错误导致的利息、汇率等损失），但因妙资金融平台恶意而导致的处理错误除外。</p>
    <p class="black fs14">五、资金管理 </p>
    <p>（一）妙资金融同意向您提供资金管理服务，您同意接受妙资金融提供的该项服务。双方同意，妙资金融向您提供资金管理服务应按如下范围和规则进行：</p>
    <p>1、资金保管：妙资金融已在合作银行（“监管银行”）以妙资金融名义开立资金专款专用保管账户（“监管账户”），为您保管以下两种情形下的资金：(a) 您为了出借资金的目的，按照妙资金融官网的相关交易规则和本协议的规定向监管账户转入的资金；以及(b) 由妙资金融以监管账户代收的借款人向您按期偿还本息及根据借款协议约定偿付的逾期罚息、违约金等。上述资金均在监管账户中您的个人虚拟账户（“您妙资金融官网账户”）下由妙资金融保管，独立于妙资金融的自有资金，妙资金融将严格根据您的指示使用上述资金而不将其用于任何您指示外的用途。上述资金在监管账户保管期间不计利息。</p>
    <p>2、资金冻结：您同意由妙资金融按照妙资金融官网的相关交易规则和本协议的规定冻结其在监管账户中您妙资金融官网账户下的相应数额的资金，包括但不限于：(a) 在您与借款人签署借款协议后，您同意由妙资金融在您妙资金融官网账户中冻结等值于拟出借数额的资金。该项冻结在借款协议生效时或失效时解除；以及(b)在您与既有债权转让方签署《债权转让协议》后，您同意由妙资金融在您妙资金融官网账户中冻结等值于债权转让价款数额的资金。该项冻结在《债权转让协议》项下债权金额被妙资金融官网划转至既有债权转让方时或《债权转让协议》失效时解除。</p>
    <p>3、资金代付：您同意由妙资金融按照妙资金融官网的相关交易规则和本协议的规定，委托其合作的第三方支付机构及或监管银行等，从监管账户中您妙资金融官网账户名下的资金中代为划扣您应支付的相应数额的资金，包括但不限于：(a) 根据您与借款人之间的借款协议应向借款人划转的借款本金；(b) 根据您与既有债权转让方之间的《债权转让协议》应向债权转让方支付的债权转让价款。</p>
    <p>4、资金代收：您同意由妙资金融代为收取其在借款协议项下应收回的本金和利息、罚息、违约金等款项，并将该等代收的本金和利息、罚息、违约金等款项直接转入监管账户，并计入您妙资金融官网账户名下。</p>
    <p>5、资金提取：您可在妙资金融官网的工作时间内通过妙资金融官网的相应模块向妙资金融提出提现要求，并同时提供一个与您注册时向妙资金融提供的个人身份信息相符的有效的中国境内银行账户信息，以提取其届时在监管账户中您妙资金融官网账户名下所有未出借且未冻结的资金，妙资金融在收到该等要求后1个工作日内应安排将相应的款项汇入上述银行账户（根据您提供的银行不同，实际汇入时间可能存在差异）。除本条约定外，妙资金融不接受您提出的其他任何提现方式。</p>
    <p>6、资金查询：您有权在任何时间使用本人的用户名和密码登录妙资金融官网查询其在监管账户下您妙资金融官网账户名下资金的情况，包括充值、冻结、代付、代收和提现记录等。您应理解，您最终收到款项的服务是由其提供的银行账户开户行提供的，需向该银行请求查证。您同意，其登录妙资金融官网查询的任何信息不能够作为相关操作或借贷交易的证据或依据；如该等信息与妙资金融保存的记录存在任何不一致，应以妙资金融所提供的记录为准。</p>
    <p>7、债权转让： 您可以通过妙资金融官网按照本协议第四条的规定以及您与其他出借人签署的《债权转让协议》的约定进行债权转让。</p>
    <p>（二）您了解并同意，妙资金融提供上述资金管理服务时可能需要与银行或非银行业的第三方支付机构等开展合作。因此，您同意：</p>
    <p>1、妙资金融不对银行及第三方支付机构进行相应资金划转的时限、准确性、及时性等作出任何承诺或承担任何相关责任，包括但不限于由此产生的利息、货币贬值、银行及第三方支付机构执行划转指令出现错误、银行及第三方支付机构系统故障、银行及第三方支付机构对资金划转的特定限制等导致的损失或责任；</p>
    <p>2、就本条规定的资金管理服务，您应按照银行及第三方支付机构的规定支付相关费用（如有）。就费用支付事项产生的任何争议、纠纷等，均由您与银行及（或）第三方支付机构自行解决，妙资金融不承担因此而产生的任何损失或责任。</p>
    <p>3、如果妙资金融发现因系统故障、银行或第三方支付机构执行指令错误或其他任何原因导致的在资金划转过程中出现的错误，无论是否有利于您、妙资金融或借款人等任何一方，妙资金融均有权在以电子邮件（以您在妙资金融官网注册时或者注册后变更用户信息时向妙资金融官网提供的电子邮箱为准）或其他方式通知您后立即纠正该错误：</p>
    <p>(1) 如果该等错误导致您实际收到的款项少于应获得的金额，则妙资金融应将您实际收到款项与应收到的款项之间的差额转入监管账户中的您妙资金融官网账户；</p>
    <p>(2) 如果该等错误导致您实际收到的款项多于应获得的金额，则无论错误的性质和原因为何，妙资金融有权立即予以纠正，包括将多转入的款项从监管账户下的您妙资金融官网账户中转出，以及要求您根据妙资金融发出的有关纠正错误的通知的具体要求返还多收的款项或进行其他操作。</p>
    <p>(3) 您理解并同意，因前述处理错误而多付或少付的款项均不计利息，妙资金融也不承担因前述处理错误而导致的任何损失或责任，但因妙资金融具有恶意而导致的处理错误除外。</p>
    <p>（三）您同意并确认，其按照本协议发出的任何指示、指令，均为不可撤销、不可逆转的指示或指令，您不能以任何理由拒绝付款或要求取消交易。</p>
    <p class="fs14 black">六、提供合同管理服务 </p>
    <p>（一）在妙资金融平台交易需订立的合同采用电子合同方式，可以有一份或者多份并且每一份具有同等法律效力。您使用会员账户登录妙资金融平台后，根据妙资金融的相关规则，以会员账户ID在妙资金融平台通过点击确认或类似方式签署的电子合同即视为您本人真实意愿并以您本人名义签署的合同，具有法律效力。您应妥善保管自己的账户密码等账户信息，您通过前述方式订立的电子合同对合同各方具有法律约束力，您不得以其账户密码等账户信息被盗用或其他理由否认已订立的合同的效力或不按照该等合同履行相关义务。</p>
    <p>（二）您根据本协议以及妙资金融相关规则签署电子合同后，不得擅自修改该合同。妙资金融向您提供电子合同的备案、查看、核对服务，如对电子合同真伪或电子合同的内容有任何疑问，您可通过使用妙资金融的“查阅合同“功能进行核对。如对此有任何争议，应以苗子财富记录的合同为准。</p>
    <p>（三）您不得私自仿制、伪造在妙资金融平台上签订的电子合同或印章，不得用伪造的合同进行招摇撞骗或进行其他非法使用，否则由您自行承担责任。</p>
    <p>（四）除外责任</p>
    <p>1、在任何情况下，对于您使用妙资金融服务过程中涉及由第三方提供相关服务的责任由该第三方承担，妙资金融不承担该等责任。妙资金融不承担责任的情形包括但不限于：</p>
    <p>(1)因银行、第三方支付机构等第三方未按照您和/或妙资金融指令进行操作引起的任何损失或责任；</p>
    <p>(2)因银行、第三方支付机构等第三方原因导致资金未能及时到账或未能到账引起的任何损失或责任；</p>
    <p>(3)因银行、第三方支付机构等第三方对交易限额或次数等方面的限制而引起的任何损失或责任；</p>
    <p>(4)因其他第三方的行为或原因导致的任何损失或责任。</p>
    <p>2、因您自身的原因导致的任何损失或责任，由您自行负责，妙资金融不承担责任。妙资金融不承担责任的情形包括但不限于：</p>
    <p>(1)您未按照本协议或妙资金融平台不时公布的任何规则进行操作导致的任何损失或责任；</p>
    <p>(2)因您使用的银行卡的原因导致的损失或责任，包括您使用未经认证的银行卡或使用非您本人的银行卡或使用信用卡，您的银行卡被冻结、挂失等导致的任何损失或责任；</p>
    <p>(3)您向妙资金融发送的指令信息不明确、或存在歧义、不完整等导致的任何损失或责任；</p>
    <p>(4)您账户内余额不足导致的任何损失或责任；</p>
    <p>(5)其他因您原因导致的任何损失或责任。</p>
    <p>（五）当您使用妙资金融服务时，妙资金融会向您收取相关服务费用。各项服务费用详见您使用妙资金融服务时妙资金融平台上所列之收费方式说明。妙资金融保留单方面制定及调整服务费用的权利。您在使用妙资金融服务过程中（如充值或取现等）可能需要向第三方（如银行或第三方支付公司等）支付一定的费用，具体收费标准详见第三方网站相关页面，或妙资金融平台的提示。</p>
    <p class="red fs14">七、妙资金融公司网站费用及其他规则</p>
    <p>1、还款逾期时的罚息借款人尚未支付的全部剩余本金和利息自逾期之日按0.01%/日的利率按日计收逾期违约金（“逾期违约金”），直至支付完毕之日。</p>
    <p>2、借入人应还本息计算规则见下表：</p>
    <table cellpadding="0" cellspacing="2">
        <thead>
        <tr>
            <th>还款状态</th>
            <th>应还总额</th>
            <th>利息、罚息、补偿金计算公式</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                正常还款
            </td>
            <td>
                借款本金+利息
            </td>
            <td>
                利息=借款本金*年利率*借款期限（天）/365
            </td>
        </tr>
        <tr>
            <td>
                逾期还款
            </td>
            <td>
                借款本金+利息+罚息
            </td>
            <td>
                <p>利息=借款本金*年利率*借款期限（天）/365</p>
                <p>罚息 = （借款本金+利息）*0.05%*逾期天数</p>
                <p>逾期天数 = 实际还款日－借款到期日 </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                提前还款
            </td>
            <td>
                <p>提前7天（含）以上还款：</p>
                <p>借款本金+利息+补偿金</p>
            </td>
            <td>
                <p>利息=借款本金*年利率*（提前还款日-借款起始 日）/365</p>
                <p>补偿金=借款本金*年利率*7/365</p>
                <p>注：“利息+补偿金”总额不超过“正常还款”时的利息</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>提前7天以内还款：</p>
                <p>借款本金+利息</p>
            </td>
            <td>利息=借款本金*年利率*借款期限（天）/365 </td>
        </tr>
        </tbody>
    </table>
    <p class="black fs14">八、风险提示 </p>
    <p>（一）您了解并认可，任何通过妙资金融进行的交易并不能避免以下风险的产生，妙资金融不能也没有义务为如下风险负责：</p>
    <p>1、宏观经济风险：因宏观经济形势变化，可能引起价格等方面的异常波动，您有可能遭受损失；</p>
    <p>2、政策风险：有关法律、法规及相关政策、规则发生变化，可能引起价格等方面异常波动，您有可能遭受损失；</p>
    <p>3、违约风险：因其他交易方无力或无意愿按时足额履约，您有可能遭受损失；</p>
    <p>4、利率风险：市场利率变化可能对购买或持有产品的实际收益产生影响；</p>
    <p>5、不可抗力因素导致的风险；</p>
    <p>6、因您的过错导致的任何损失 ，该过错包括但不限于：决策失误、操作不当、遗忘或泄露密码、密码被他人破解、您使用的计算机系统被第三方侵入、您委托他人代理交易时他人恶意或不当操作而造成的损失。</p>
    <p>（二）妙资金融不对任何您及/或任何交易提供任何担保或条件，无论是明示、默示或法定的。妙资金融不能也不试图对您发布的信息进行控制，对该等信息，妙资金融不承担任何形式的证明、鉴定服务。妙资金融不能完全保证平台内容的真实性、充分性、可靠性、准确性、完整性和有效性，并且无需承担任何由此引起的法律责任。您依赖于您的独立判断进行交易，您应对其作出的判断承担全部责任。</p>
    <p>（三）以上并不能揭示您通过妙资金融进行交易的全部风险及市场的全部情形。您在做出交易决策前，应全面了解相关交易，谨慎决策，并自行承担全部风险。用户信息的提供、搜集及核实。</p>
    <p class="black fs14">九、用户信息及隐私权保护 </p>
    <p>（一）您有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性、安全性和及时更新，以便妙资金融平台为您提供服务并与您进行及时、有效的联系。您应完全独自承担因通过这些联系方式无法与您取得联系而导致的您在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。</p>
    <p>（二）妙资金融对于您提供的、妙资金融自行收集的、经认证的个人信息将按照本协议予以保护、使用或者披露。妙资金融无需您同意即可向妙资金融关联实体转让与妙资金融平台有关的全部或部分权利和义务。未经妙资金融事先书面同意，您不得转让其在本协议项下的任何权利和义务。</p>
    <p>（三）妙资金融可能自公开及私人资料来源收集您的额外资料，以更好地掌握您情况，并为您度身订造妙资金融服务、解决争议并有助确保在妙资金融平台进行安全交易。</p>
    <p>（四）妙资金融按照您在妙资金融平台上的行为自动追踪关于您的某些资料。在不透露您的隐私资料的前提下，妙资金融权对整个会员数据库进行分析并对会员数据库进行商业上的利用。</p>
    <p>（五）妙资金融在妙资金融平台的某些网页上使用诸如“Cookies“的资料收集装置。“Cookies“是设置在您的硬盘上的小档案，以协助妙资金融为您提供更优质的服务。妙资金融平台亦提供某些只能通过使用“Cookies“才可得到的功能。妙资金融平台还利用“Cookies“使您能够在某段期间内减少输入密码的次数。“Cookies“还可以协助妙资金融平台提供专门针对您的兴趣而提供的资料。</p>
    <p>（六）您同意妙资金融可使用关于您的相关资料（包括但不限于妙资金融持有的有关您的档案中的资料，妙资金融从您目前及以前在妙资金融平台上的活动所获取的其他资料以及妙资金融通过其他方式自行收集的资料）以解决争议、对纠纷进行调停。您同意妙资金融可通过人工或自动程序对您的资料进行评价。</p>
    <p>（七）妙资金融采用行业标准惯例以保护您的资料。您因履行本协议提供给妙资金融平台的信息，妙资金融不会恶意出售或免费共享给任何第三方，以下情况除外：</p>
    <p>1、提供独立服务且仅要求服务相关的必要信息的供应商，如印刷厂、邮递公司等；</p>
    <p>2、具有合法调阅信息权限并从合法渠道调阅信息的政府部门或其他机构，如公安机关、法院；</p>
    <p>3、妙资金融的关联实体；</p>
    <p>4、经平台使用方或平台使用方授权代表同意的第三方。</p>
    <p>（八）您使用妙资金融平台服务进行交易时，您即授权妙资金融将您的包括但不限于真实姓名、联系方式、信用状况等必要的个人信息和交易信息披露给与您交易的另一方或妙资金融的合作机构（仅限于妙资金融为完成拟向您提供的服务而合作的机构）。</p>
    <p>（九）妙资金融有义务根据有关法律要求向司法机关和政府部门提供您的个人资料。在您未能按照与妙资金融签订的服务协议或者与妙资金融其他会员签订的协议等其他法律文本的约定履行自己应尽的义务时，妙资金融有权根据自己的判断，或者与该笔交易有关的其他会员的请求披露您的个人信息和资料，并做出评论。您严重违反妙资金融的相关规则（包括但不限于您的借款逾期超过[30]天等）的，妙资金融有权对您提供的及妙资金融自行收集的您的个人信息和资料编辑入网站黑名单，并将该黑名单对第三方披露，且秒财富有权将您提交或妙资金融自行收集的您的个人资料和信息与任何第三方进行数据共享，以便网站和第三方催收逾期借款及对您的其他申请进行审核之用，由此可能造成的您的任何损失，妙资金融不承担法律责任。</p>
    <p>（十）在妙资金融平台提供的交易活动中，您无权要求妙资金融平台提供其他用户的个人资料，除非符合以下条件：</p>
    <p>1、您已向法院起诉其他用户的在妙资金融平台活动中的违约行为；</p>
    <p>2、与您有关的其他用户逾期未归还借款本息；</p>
    <p>3、妙资金融平台被吊销营业执照、解散、清算、宣告破产或者其他有碍于您收回借款本息的情形。</p>
    <p class="black fs14">十、不保证及使用限制</p>
    <p>（一）不保证</p>
    <p>1、在任何情况下，妙资金融平台及其股东、创建人、高级职员、董事、代理人、关联公司、母公司、子公司和雇员（以下称“妙资金融平台“）均不以任何明示或默示的方式对您使用妙资金融平台服务而产生的任何形式的直接或间接损失承担法律责任，包括但不限于资金损失、利润损失、营业中断损失等，无论您通过妙资金融平台形成的借贷关系是否适用妙资金融平台的风险备用金规则或者是否存在第三方担保，并且妙资金融平台方不保证网站内容的真实性、充分性、及时性、可靠性、完整性和有效性，并且免除任何由此引起的法律责任。</p>
    <p>2、妙资金融平台不能保证也没有义务保证第三方网站上的信息的真实性和有效性。您应按照第三方网站的服务协议使用第三方网站，而不是按照本协议。第三方网站的内容、产品、广告和其他任何信息均由您自行判断并承担风险，而与妙资金融平台站无关。</p>
    <p>3、因为妙资金融平台或者涉及的第三方网站的设备、系统存在缺陷、黑客攻击、网络故障、电力中断、计算机病毒或其他不可抗力因素造成的损失，妙资金融平台均不负责赔偿，您的补救措施只能是与妙资金融平台协商终止本协议并停止使用妙资金融平台。但是，中国现行法律、法规另有规定的除外。</p>
    <p>（二）使用限制</p>
    <p>1、您承诺合法使用妙资金融平台提供的服务及网站内容。您不得利用本服务从事侵害他人合法权益之行为，不得在妙资金融平台从事任何可能违反中国的法律、法规、规章和政府规范性文件的行为或者任何未经授权的行为，如擅自进入妙资金融平台的未公开的系统、不正当的使用账号密码和网站的任何内容等。</p>
    <p>2、您不得使用妙资金融平台提供的服务或其他电子邮件转发服务发出垃圾邮件或其他可能违反本协议的内容。</p>
    <p>3、妙资金融平台没有义务监测网站内容，但是您确认并同意妙资金融平台有权不时地根据法律、法规、政府要求透露、修改或者删除必要的信息，以便更好地运营妙资金融平台站并保护自身及妙资金融的其他合法用户。</p>
    <p>4、妙资金融平台中全部内容的版权均属于妙资金融平台所有，该等内容包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片及其他全部信息（以下称“网站内容“）。网站内容受中华人民共和国著作权法及各国际版权公约的保护。未经妙资金融平台事先书面同意，您承诺不以任何方式、不以任何形式复制、模仿、传播、出版、公布、展示网站内容，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。您承认网站内容是属于妙资金融平台的财产。未经妙资金融平台书面同意，您亦不得将妙资金融平台包含的资料等任何内容镜像到任何其他网站或者服务器。任何未经授权对网站内容的使用均属于违法行为，妙资金融平台将追究您的法律责任。</p>
    <p>5、由于您违反本协议或任何法律、法规或侵害第三方的权利，而引起第三方对妙资金融平台提出的任何形式的索赔、要求、诉讼，妙资金融平台有权向您追偿相关损失，包括但不限于妙资金融平台的法律费用、名誉损失、及向第三方支付的补偿金等。</p>
    <p class="black fs14">十一、协议终止</p>
    <p>（一）除非妙资金融平台终止本协议或者您申请终止本协议且经妙资金融平台同意，否则本协议始终有效。在您违反了本协议、相关规则，或在相关法律法规、政府部门的要求下，妙资金融平台有权通过站内信、电子邮件通知等方式终止本协议、关闭您的账户或者限制您使用妙资金融平台。但妙资金融平台的终止行为不能免除您根据本协议或在妙资金融平台生成的其他协议项下的还未履行完毕的义务。</p>
    <p>（二）您若发现有第三人冒用或盗用您的用户账户及密码，或其他任何未经合法授权的情形，应立即以有效方式通知妙资金融平台，要求妙资金融平台暂停相关服务，否则由此产生的一切责任由您本人承担。同时，您理解妙资金融平台对您的请求采取行动需要合理期限，在此之前，妙资金融平台对第三人使用该服务所导致的损失不承担任何责任。</p>
    <p>（三）您决定不再使用用户账户时，应首先清偿所有应付款项（包括但不限于借款本金、利息、罚息、违约金、服务费、管理费等），再将用户账户中的可用款项（如有）全部提现或者向妙资金融平台发出其它合法的支付指令，并向妙资金融平台申请注销该用户账户，经妙资金融平台审核同意后可正式注销用户账户。会员死亡或被宣告死亡的，其在本协议项下的各项权利义务由其继承人承担。若会员丧失全部或部分民事权利能力或民事行为能力，妙资金融平台有权根据有效法律文书（包括但不限于生效的法院判决等）或其法定监护人的指示处置与用户账户相关的款项。</p>
    <p>（四）妙资金融平台有权基于单方独立判断，在认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向您提供本协议项下的全部或部分会员服务，并将注册资料移除或删除，且无需对您或任何第三方承担任何责任。前述情形包括但不限于：</p>
    <p>1、妙资金融平台认为您提供的个人资料不具有真实性、有效性或完整性；</p>
    <p>2、妙资金融平台发现异常交易或有疑义或有违法之虞时；</p>
    <p>3、妙资金融平台认为您的账户涉嫌洗钱、套现、传销、被冒用或其他妙资金融平台认为有风险之情形；</p>
    <p>4、妙资金融平台认为您已经违反本协议中规定的各类规则及精神；</p>
    <p>5、妙资金融平台基于交易安全等原因，根据其单独判断需先行暂停、中断或终止向您提供本协议项下的全部或部分会员服务，并将注册资料移除或删除的其他情形。</p>
    <p>（五）您同意在必要时，妙资金融平台无需进行事先通知即有权终止提供用户账户服务，并可能立即暂停、关闭或删除您的用户账户及该用户账户中的所有相关资料及档案，并将您滞留在这些账户的全部合法资金退回到您的银行账户。</p>
    <p>（六）您同意，用户账户的暂停、中断或终止不代表您责任的终止，您仍应对您使用妙资金融平台服务期间的行为承担可能的违约或损害赔偿责任，同时妙资金融平台仍可保有您的相关信息。</p>
    <p>（七）若您使用第三方网站账号注册妙资金融平台用户账户，则您应对您妙资金融用户账户所对应的第三方网站账号拥有合法的使用权，如您因故对该第三方网站账号丧失使用权的，则妙资金融平台可停止为您的该用户账户提供服务。但如该用户账户尚存有余额的，妙资金融平台将会为您妥善保管。此时，如您欲取回其原有余额，妙资金融平台将提供更换妙资金融平台账户名的服务，即您可把您原妙资金融平台账户下余额转移到您另外合法注册的妙资金融平台账户中；如因故无法自助完成更换账户名，您可以向妙资金融平台提出以银行账户接受原有资金的请求，经核验属实后，妙资金融平台可配合您将原有资金转移到以您真实姓名登记的银行账户下。</p>
    <p class="black fs14">十二、条款的解释、法律适用及争端解决 </p>
    <p>（一）本协议是由您与妙资金融共同签订的，适用于您在妙资金融平台的全部活动。本协议内容包括但不限于协议正文条款及已经发布的或将来可能发布的各类规则，所有条款和规则为协议不可分割的一部分，与协议正文具有同等法律效力。</p>
    <p>（二）本协议不涉及您与妙资金融平台的其他会员之间，因网上交易而产生的法律关系及法律纠纷。但您在此同意将全面接受并履行与妙资金融其他会员在妙资金融签订的任何电子法律文本，并承诺按照该法律文本享有和（或）放弃相应的权利、承担和（或）豁免相应的义务。</p>
    <p>（三）如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，则应认为该条款可与本协议相分割，并可被尽可能接近各方意图的、能够保留本协议要求的经济目的的、有效的新条款所取代，而且，在此情况下，本协议的其他条款仍然完全有效并具有约束力。</p>
    <p>（四）妙资金融对本服务协议拥有最终的解释权。</p>
    <p>（五）本协议及其修订的有效性、履行与本协议及其修订效力有关的所有事宜，将受中国法律管辖，任何争议仅适用中国法律。</p>
    <p>（六）本协议签订地为中国杭州市。因本协议所引起的您与妙资金融的任何纠纷或争议，首先应友好协商解决，协商不成的，您在此完全同意将纠纷或争议提交妙资金融所在地有管辖权的人民法院诉讼解决。</p>
    <p></p>
</div>
</body>
</html>

