<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>支付服务协议</title>
    <link rel="stylesheet" href="/public/css/common/reset.min.css">
    <link rel="stylesheet" href="/public/css/common/s_agreeCommon.min.css">
</head>
<body>
<div class="container">
    <h1 class="black fs16">支付服务协议</h1>
    <p>当您注册或使用本服务时，即表示您已阅读、了解并同意接受本声明条款之所有内容。若您不同意，则您应主动立即停用本服务。</p>
    <p class="black fs14">一、妙资申明</p>
    <p>（一）妙资金融特别申明，在您同意接受本协议并注册成为妙资金融用户时，您具有中华人民共和国法律规定的完全民事权利能力和民事行为能力，是能够独立承担民事责任的自然人、法人或其他组织；如您所属的国家或地区排除本协议内容的全部或部分，您应立即终止注册或停止使用本服务。</p>
    <p>（二）在使用本服务前，您必须先注册成为妙资金融用户，您应同意以下事项：您必须依妙资金融的提示提供您本人正确、最新及完整的资料。妙资金融有权审查您所提供的信息是否真实、有效。若您提供任何错误、虚假、过时或不完整的资料，或者妙资金融有合理的理由怀疑资料为错误、虚假、过时或不完整，妙资金融有权暂停或终止向您提供全部或部分本服务。妙资金融对此不承担任何责任，您将承担因此所产生的损失及责任。若因您未及时更新基本资料，导致本服务无法提供或提供时发生任何错误，您不得将此作为取消交易或拒绝付款的理由，且您将承担因此产生的一切后果。</p>
    <p>（三）您将对使用该账户及密码进行的一切行为负完全责任，您同意遵守和执行以下事项：</p>
    <p>1、妙资金融通过您的账户名和密码识别您的指示，您应当妥善保管您的账户名和密码，对于因密码泄露所致的损失，由您自行承担。您保证不向其他任何人泄露该账户及密码，亦不使用其他任何人的“妙资金融账户”及密码。</p>
    <p>2、您的密码或账户遭到冒用、盗用或有其他任何影响安全的问题发生时，请立即通知妙资金融，并要求停止其使用本服务并采取防范之措施。在接到通知后，妙资金融将冻结您的账户，做进一步调查，并视情况上报相关监管机构。妙资金融于接受通知前（该等通知应不存在任何迟延情形），对第三人使用本服务已发生之效力和后果，除非可证明妙资金融对未经合法授权之使用的形成存在故意或重大过失，否则妙资金融将不承担任何责任。若您迟延通知，则迟延期间产生的损失，妙资金融将不需承担任何责任。</p>
    <p>3、若您丢失了账户名或者密码，妙资金融将按照相关流程经核验您的身份后提供挂失服务。</p>
    <p class="black fs14">二、本服务的使用条款</p>
    <p>为有效保障您使用本服务进行交易时的合法权益，您理解并同意接受以下规则：</p>
    <p>（一）一旦您使用本服务，妙资金融将遵照您的指示并根据妙资金融的流程规定和要求将您指定银行账户中的款项支付给您所指定的对象，或收取他人支付给您的款项，遵照您的指示并根据妙资金融的流程规定和要求，将此笔款项转入您所指定银行账户中。为避免疑义，妙资金融不提供预支或垫付、透支、现金存取和融资服务。</p>
    <p>（二）妙资金融通过以下两种方式接受来自您的指令：其一，您在妙资金融网站或其他可使用本服务的网站上通过该账户密码及或数字证书方式登录并依照本服务预设流程所修改或确认的交易状态；其二，您通过您注册时作为该账户名称或者与该账户绑定的手机或其他专属于您的通讯工具（以下合称该手机）号码向本系统发送的信息（短信或电话等）回复。无论您通过以上两种方式中的任一种向妙资金融发出指令，都不可撤回或撤销，且成为妙资金融代理您支付或收取款项的唯一指令。在您与第三方发生交易纠纷时，您授权妙资金融自行判断并决定将争议货款的全部或部分支付给交易一方或双方，除非您已及时取得相关法院的就其它处理方式的命令。</p>
    <p>（三）您在使用本服务过程中，本协议内容、网页上出现的关于交易操作的提示或妙资金融发送到该手机的信息（短信或电话等）内容是您使用本服务的相关规则，您使用本服务即表示您同意接受本服务的相关规则。您了解并同意妙资金融单方修改服务的相关规则，而无须征得您的同意。妙资金融会提前30日将上述规则调整在妙资金融网站上公布，不另作个別通知。服务规则应以您使用服务时的页面提示（或发送到该手机的信息或电话等）为准，您同意并遵照服务规则是您使用本服务的前提。</p>
    <p>（四）妙资金融将对您在使用本服务中的所有操作进行记录，不管该操作的目的最终是否实现，供您在本系统中实时查询。妙资金融并将以电子邮件（或发送到该手机的信息或电话等）方式通知您交易进展情况、账户资金变动情况、交易处理结果等，和/或提示您进行下一步的操作，但妙资金融不保证您能够收到或者及时收到该邮件（或发送到该手机的信息或电话等），且不对此承担任何后果，因此，在交易过程中您应当及时登录到本网站查看和进行交易操作。因您没有及时查看和对交易状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，妙资金融除通知义务外不负任何责任。如您以本系统的纪录为基础，与您的账户进行核对查询后，认为数额有误，则妙资金融将向您提供妙资金融已按照您的指示收付款的纪录，您了解并同意您最终能够收到款项的责任是由您登记的银行账户对应的银行提供的，您需向该银行请求查证。</p>
    <p>（五）您开立账户时需要进行实名登记。若您未通过实名认证，将无法享受本协议项下的服务。此时，他人通过本服务向您支付款项时，相应款项将无法划汇给您，您授权妙资金融暂时代为保管该款项，直到您完成实名认证。</p>
    <p>（六）妙资金融会将与您账户相关的资金，独立于妙资金融营运资金之外，且不会将该资金用于非您指示的用途。</p>
    <p>（七）妙资金融并非银行或其它金融机构，本服务也非金融业务，本协议项下的资金移转均通过银行来实现，你理解并同意您的资金于流转途中的合理时间。</p>
    <p>（八）您完全承担您使用本服务期间由妙资金融保管或代收或代付的款项的货币贬值风险及可能的利息损失。</p>
    <p>（九）在您注册成为妙资金融用户时，您授权妙资金融通过银行或向第三者审核您的身份和资格，并取得关于您使用本服务的相关资料。</p>
    <p>（十）您不得将本服务用于非妙资金融许可的其他用途。</p>
    <p>（十一）交易风险</p>
    <p>1、在使用本服务时，若您或您的交易对方未遵从本服务条款或网站说明、交易页面中之操作提示、规则），则妙资金融有权拒绝为您与交易对方提供相关服务，且妙资金融不承担损害赔偿责任。</p>
    <p>2、因您的过错导致的任何损失由您自行承担，该过错包括但不限于：不按照交易提示操作，未及时进行交易操作，遗忘或泄漏密码，密码被他人破解，您使用的计算机被他人侵入。</p>
    <p>（十二）本服务所涉及到的任何款项只以人民币计结，不提供任何形式的货币汇兑业务。</p>
    <p>（十三）权利义务移转：在本服务条款之约束下，若无妙资金融的书面同意，您不得转移任何权利和义务。</p>
    <p>（十四）如您需要注销（永久冻结）您的账户，应先经妙资金融审核同意。在将您的账户注销前，妙资金融会将您账户中的余额（扣除全部未结清费用后）退回至充值时使用的原关联银行账户。妙资金融注销（永久冻结）该账户，即表明妙资金融与您之间的协议已解除，但您仍应对您使用本服务期间的行为承担可能的违约或损害赔偿责任，同时妙资金融仍可保有您的相关信息。有关交易信息应自交易记账当年计起至少保存5年，相关身份资料应自妙资金融与您之间的协议解除当年起至少保留5年。</p>
    <p>（十五）客户责任：如果您认为您的用户账户或密码可能存在安全问题，或者您发现有人私自使用您的用户账户或密码，请您立刻通知妙资金融。若您发现任何未经许可的交易，或者有人已经知悉您的用户账户和密码，或者您发现您的交易和提现记录有误，您必须立即通知妙资金融，这是您的义务和责任。</p>
    <p>（十六） 如果您发现有未经您授权产生的交易或资金提现，您必须立刻通知妙资金融，这是您的义务和责任。您的及时通知将可能有助于保护您的权益。</p>
    <p>（十七） 在发生任何违法交易、盗窃或诈骗行为等触犯刑法之情况时，妙资金融将按照有关司法机关之指示行事。由此造成账户冻结或款项转移而涉及您的合法权益时，您应及时主动向妙资金融、银行或有关司法机构提供有关交易证据，必要时您应就您提供的证据向银行或有关司法机构进行说明，如未能提供真实有效的交易证据，您应独立承担由此造成的一切损失。</p>
    <p>（十八） 您同意配合妙资金融按照有关法律规定，采取反洗钱或反恐怖融资的相关措施。</p>
    <p>（十九） 账户的查询、挂失、止付、撤销只能由您本人申请办理。账户只能由您本人使用，您不得出租、出借账户。</p>
    <p class="black fs14">三、本服务的使用限制条款</p>
    <p>（一） 您在使用本服务时应遵守中华人民共和国相关法律法规、您所在国家或地区之法令及相关国际惯例，不将本服务用于任何非法目的（包括用于禁止或限制交易物品的交易），也不以任何非法方式使用本服务。</p>
    <p>（二） 当您使用本服务时，严禁从事以下行为：</p>
    <p>1、侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益。</p>
    <p>2、违反依法定或约定之保密义务。</p>
    <p>3、冒用他人名义使用本服务。</p>
    <p>4、从事不法交易行为，如洗钱、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、其他妙资金融认为不得使用本服务进行交易的物品等。</p>
    <p>5、提供赌博资讯或以任何方式引诱他人参与赌博。</p>
    <p>6、使用本人信用卡账户、非法使用他人银行账户（包括信用卡账户）或无效银行账号（包括信用卡账户）充值。</p>
    <p>7、违反《银行卡业务管理办法》使用银行卡，或利用信用卡套取现金（以下简称套现）。</p>
    <p>8、进行与您或交易对方宣称的交易内容不符的交易，或不真实的交易。</p>
    <p>9、从事任何可能含有电脑病毒或是可能侵害本服务系统、资料之行为。</p>
    <p class="black fs14">四、服务中止或终止</p>
    <p>您同意妙资金融有权基于单方判断，包含但不限于妙资金融认为您已经违反本服务条款的明文规定及精神，或在发现异常交易或有疑异或有违法之虞时，或在其他必要时不经事先通知而中止或终止您的账户、密码，拒绝您使用本服务之部分或全部功能。您在希望解除冻结或索回您在账户中的款项时，妙资金融有权要求您向妙资金融提供合法有效的交易证据，必要时您应就您提供的证据向妙资金融、银行或有关司法机构予以说明。否则，您应独立承担由此造成的一切损失。</p>
    <p class="black fs14">五、服务费用</p>
    <p>（一）当您使用妙资金融提供的支付服务时， 妙资金融有权根据《服务收费规则》向您收取服务费用。妙资金融有权制订及不时调整服务费，具体服务费用以妙资金融在营业场所和网站上公示的《服务收费规则》为准。妙资金融对服务费进行调整时，会在实施新的服务费标准之前在营业场所和网站上连续公示30日。</p>
    <p>（二） 除非另有说明或约定，您同意妙资金融有权自您委托妙资金融代管、代收或代付的款项中直接扣除上述服务费用。</p>
    <p class="black fs14">六、隐私权保护</p>
    <p>妙资金融重视对用户隐私的保护，为有效保障您的用户资料和其他特定资料，您理解并同意接受以下规则：</p>
    <p>（一）涉及的个人资料</p>
    <p>1、本网站收集个人资料的主要目的在于向您提供一个顺利、有效和度身订造的交易经历。本网站仅收集本网站认为就此目的及达成该目的所必须的关于您的个人资料。</p>
    <p>2、本网站可能自公开及私人资料来源收集您的额外资料，以更好地了解本网站用户，并为其度身订造本网站服务、解决争议并有助确保在网站进行交易的安全性。</p>
    <p>3、本网站按照您在本网站网址上的行为自动追踪关于您的某些资料。本网站利用这些资料进行有关本网站之用户的人口统计、兴趣及行为的内部研究，以更好地了解您以便向您和本网站的用户社区提供更好的服务。</p>
    <p>4、本网站在本网站的某些网页上使用诸如“Cookies”的资料收集装置。“Cookies”是设置在您的硬盘上的小档案，以协助本网站为您提供度身订造的服务。本网站亦提供某些只能通过使用“Cookies”才可得到的功能。本网站还利用“Cookies”使您能够在某段期间内减少输入密码的次数。“Cookies”还可以协助本网站提供专门针对您的兴趣而提供的资料。</p>
    <p>5、如果您将个人通讯信息（例如：手机短信、电邮或信件）交付给本网站，或如果其他用户或第三方向本网站发出关于您在本网站上的活动或登录事项的通讯信息，本网站可以将这些资料收集在您的专门档案中。</p>
    <p>（二）本网站对您的资料的使用</p>
    <p>1、您同意本网站可使用关于您的个人资料（包括但不限于本网站持有的有关您的档案中的资料，及本网站从您目前及以前在本网站上的活动所获取的其他资料）以解决争议、对纠纷进行调停、有助于确保在本网站进行安全交易，并执行本网站的用户协议。本网站有时候可能调查多个用户以识别问题或解决争议，特别是本网站可审查您的资料以区分使用多个用户名或别名的用户。 为限制在网站上的欺诈、非法或其他刑事犯罪活动，使本网站免受其害，您同意本网站可通过人工或自动程序对您的个人资料进行评价。</p>
    <p>2、您同意本网站可以使用您的个人资料以改进本网站的推广和促销工作、分析网站的使用率、改善本网站的内容和产品推广形式，并使本网站的网站内容、设计和服务更能符合用户的要求。这些使用能改善本网站的网页，以调整本网站的网页使其更能符合您的需求，从而使您在使用本网站服务时得到更为顺利、有效、安全及度身订造的交易体验。</p>
    <p>3、您同意本网站利用您的资料与您联络并（在某些情况下）向您传递针对您的兴趣而提供的信息，例如：有针对性的广告条、行政管理方面的通知、产品提供以及有关您使用本网站的通讯。您接受服务协议和隐私条款即为明示同意收取这些资料。</p>
    <p>（三）本网站对您的资料的修改或删除</p>
    <p>1、您可以授权本网站帮助您修改您在本网站填写的一切个人资料。如您违反服务协议等本网站规则或法律规定，本网站有权经电子邮件告知后在网站数据库中删除您的个人资料、关闭账户或者限制您使用本网站。</p>
    <p>2、网站有权根据实际审核结果在不通知您的情况下对您所填写的与事实不符的资料进行修正或更改。</p>
    <p>（四）本网站对您的资料的披露</p>
    <p>1、本网站采用行业标准惯例以保护您的个人资料，但鉴于技术限制，本网站不能确保您的全部私人通讯及其他个人资料不会通过本隐私条款中未列明的途径泄露出去，对此本网站不承担任何责任。</p>
    <p>2、本网站有权根据有关法律和监管要求，本网站风险控制要求以及相关协议要求向司法机关等政府部门、社会组织或团体、其他第三方服务或合作机构提供您的个人资料。在您未能按照与本网站签订的服务协议、居间协议或者与本网站企业用户签订的借款（担保）协议的约定履行自己应尽的义务时，本网站有权根据自己的判断或者与该笔交易有关的其他用户的请求披露您的个人资料，并作出评论。</p>
    <p>（五）您对其他用户的资料的使用在本网站提供的交易活动中，您无权要求本网站提供其他用户的个人资料，除非符合以下条件：</p>
    <p>1、您已向法院起诉其他用户的在本网站活动中的违约行为；</p>
    <p>2、本网站被吊销营业执照、解散、清算、宣告破产或者其他有碍于您收回借款本息的情形。</p>
    <p>（六）电子邮件</p>
    <p>1、您不得使用本网站提供的服务或其他电子邮件转发服务发送垃圾邮件或其他可能影响本网站系统运行或违反本网站的用户协议或隐私条款的内容。</p>
    <p>2、如果您利用本网站的服务向没有在本网站内注册的电子邮件地址发出电子邮件,本网站除了利用该电子邮件地址发出您的电子邮件之外将不作任何其他用途。本网站不会出租或出售这些电子邮件地址。本网站不会永久储存电子邮件信息或电子邮件地址。</p>
    <p>（七）密码的安全性</p>
    <p>您须对使用您的用户名和密码所采取的一切行为负责。因此，本网站建议您不要向任何第三方披露您在本网站的用户名和密码。</p>
    <p>（八）规则修改</p>
    <p>本网站可能不时按照您的意见和本网站的需要修改本隐私条款，以准确地反映本网站的资料收集及披露惯例。本条款的所有修改，在本网站公布有关修改内容后自动生效或在该等条款指定的日期生效。</p>
    <p class="black fs14">七、系统中断或故障</p>
    <p>因下列原因，致使您无法使用本服务或造成您损失的，妙资金融将不承担任何责任：妙资金融制定且预先通知的系统停机维护期间；因电信机线设备原因以致发生错误、迟滞中断或不能传递；因台风、地震、海啸、洪水、停电、战争、电脑黑客等不可抗力之因素，造成妙资金融系统障碍不能正常执行业务。</p>
    <p class="black fs14">八、责任范围及责任限制</p>
    <p>（一） 妙资金融仅对本协议中列明的责任承担范围负责。</p>
    <p>（二） 您明确因交易所产生的任何风险应由您与交易对方承担。</p>
    <p>（三） 用户信息是由用户本人自行提供的，用户应保证该信息之准确、及时和完整，您应对您的判断承担全部责任。</p>
    <p>（四） 妙资金融不对交易及本服务提供任何形式的保证，包括但不限于以下事项：</p>
    <p>1、本服务符合您的需求。</p>
    <p>2、本服务不受干扰、及时提供或免于出错。</p>
    <p>3、您经由本服务购买或取得之任何产品、服务、资讯或其他资料符合您的期望。</p>
    <p>（五） 本服务之合作单位，所提供之服务品质及内容由该合作单位自行负责。</p>
    <p>（六） 您经由本服务之使用下载或取得任何资料，应由您自行考量且自负风险，因资料之下载而导致您电脑系统之任何损坏或资料流失，您应负完全责任。</p>
    <p>（七） 您自妙资金融及妙资金融工作人员或经由本服务取得之建议和资讯，无论其为书面或口头形式，均不构成妙资金融对本服务之保证。</p>
    <p>（八）在法律允许的情况下，妙资金融对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除妙资金融对上述损失的责任。</p>
    <p>（九）除本协议另有规定外，在任何情况下，妙资金融对本协议所承担的违约赔偿责任总额不超过向您收取的当次服务费用总额。</p>
    <p class="black fs14">九、知识产权保护</p>
    <p>（一）本网站上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由妙资金融或其关联企业依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。</p>
    <p>（二）非经妙资金融或其关联企业书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表本网站程序或内容。</p>
    <p>（三） 尊重知识产权是您应尽的义务，如有违反，您应承担损害赔偿责任。</p>
    <p class="black fs14">十、完整协议</p>
    <p>本协议由本协议条款以及妙资金融制定和公示的其他各项规则组成，相关名词可互相引用参照，如有不同理解，以本协议条款为准。您同意，在您使用妙资金融的支付服务时，您应完全遵守本《支付服务协议》及妙资金融制定的各项规则及页面提示等。</p>
    <p class="black fs14">十一、法律适用及管辖</p>
    <p>本服务条款之解释与适用，以及与本服务条款有关的争议，均应依照中华人民共和国法律法规予以处理，并由妙资金融所在地的中华人民共和国法院管辖。</p>
</div>
</body>
</html>
