<link rel="stylesheet" href="/public/css/common/fixedQQ.min.css">
<script src="/public/js/common/fixedQQ.js"></script>
<!--悬浮qq-->
<div class="connect-fixed">
    <div class="downloadFix-box">
        <a href="javascript:;" class="download-fixed"><i></i>APP下载</a>
        <div class="fixed-server-content">
            <img src="https://r.mzmoney.com/r/cms/www/red/img/download/number.png" width="103px" height="103px">
        </div>
    </div>
    <div class="qqFix-box">
        <a href="javascript:;" class="qq-fixed"><i></i>在线客服</a>
    </div>
    <div class="topFix-box">
        <a href="javascript:;" class="toTop-fixed"><i></i>返回顶部</a>
    </div>
</div>
<script src='//kefu.easemob.com/webim/easemob.js'></script>
<!--悬浮qq-->