<link rel="stylesheet" href="/public/css/common/s_footer.min.css">
<div class="aboutUs-box">
    <div class="aboutUs-innerBox wth mrCenter">
        <ul class="clearfix">
            <li class="fl">
                <p class="top-title fs16">关于妙资</p>
                <a href="/news/about.html" target="_blank" class="fs14">公司介绍</a>
                <a href="/news/xlwm.html" target="_blank" class="fs14">联系我们</a>
                <a href="/news/aqcn.html" target="_blank" class="fs14">安全承诺</a>
            </li>
            <li class="fl">
                <p class="top-title fs16">帮助中心</p>
                <a href="https://www.mzmoney.com/topic/lead1.html" target="_blank" class="fs14">新手指引</a>
                <a href="/news/gymz/" target="_blank" class="fs14">常见问题</a>
                <a href="/news/flfg.html" target="_blank" class="fs14">法律法规</a>
            </li>
            <li class="fl connect-us">
                <p class="tel">400-757-8888</p>
                <p class="people-work-time">服务时间： 周一至周五：8:30-21:00</p>
                <p class="people-work-time">周六、周日：8:30-17:30</p>
                <p class="address">杭州市西湖区文三路553号浙江中小企业大厦10楼</p>
            </li>
            <li class="fl download-app">
                <img src="https://r.mzmoney.com/mz/img/hpimg/app.png" alt="">
                <p class="app-text">下载app</p>
            </li>
            <li class="fl download-app">
                <img src="https://r.mzmoney.com/mz/img/hpimg/wechat.png" alt="">
                <p class="app-text">关注公众号</p>
            </li>
        </ul>
    </div>
</div>
<div class="footer fs12">
    <div class="footer-inner-box wth mrCenter">
        <span>Copyright© 2015 妙资金融财富管理中心（杭州）有限公司  | 浙ICP备13033224号-1 | ICP经营许可证编号：浙B2-20150584</span>
        <p class="clearfix">
            <a href="https://www.mzmoney.com/topic/icpLogo.html" target="_blank"><img src="https://r.mzmoney.com/mz/img/hpimg/icpLogoColor.png" alt=""></a>
            <a href="http://si.trustutn.org/info?sn=151160914000519495746&certType=4" target="_blank"><img src="https://r.mzmoney.com/r/cms/www/red/img/3/p2p_bottom_large_img.jpg" alt=""></a>
            <a href="http://koubei.baidu.com/s/mzmoney.com" target="_blank"><img src="https://r.mzmoney.com/r/cms/www/red/img/new_index/koubei.png" alt=""></a>
            <a class="middle-logo" href="http://idinfo.zjaic.gov.cn/bscx.do?method=hddoc&id=33010000001777" target="_blank"><img src="https://r.mzmoney.com/r/cms/www/red/img/new_index/i_lo2.gif" alt=""></a>
        </p>
    </div>
</div>